{% extends 'wikipediaApp/base.html' %}

{% load static %}
{% block header %}
<div class="search">
    <div class='nav-grid'>
        <div class='logged'><span class="logged-padding">Not Logged in</span><a class="logged-padding"href="{% url 'createAuthor' %}">Create a new user</a><a class="logged-padding"href="{% url 'login' %}">Sign In</a></div>
        <div class="nav-bar card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class='nav-link active' href="{% url 'index' %}">Home</a>
                </li>
            </ul>
        </div>
        <div class="searchbar">
            <form class="searchbar-bottom" action= "{% url 'search'  %}" method="GET">
                <input type="text" name=find placeholder="Search">
            </form>
        </div>
    </div>
</div>

{% endblock header %}
{% block body %}


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}



<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div>

        <div>
            <p>{{ form.username.label_tag }}</p>
            <p>{{ form.username }}</p>
        </div>

        <div>
            <p>{{ form.password.label_tag }}</p>
            <p>{{ form.password }}</p>
        </div>
    </div>

    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock body %}