.bodyContainter
{
height: 100vh;
margin: 2% 5%;
}

.pageContainer
{
    display: grid;
    grid-template-rows: 10% 1fr 2fr;
    grid-row-gap:4vh;
    row-gap:4vh;
}
.search,.article,.title,.big
{
    background-color:lightgreen;
}
.search
{
    grid-row:1;
    grid-row-gap:20%;
    row-gap:20%;
}

.title
{
    grid-row:2;
    grid-row-gap:20%;
    row-gap:20%;
    text-align: center;
}

.inner-margin
{
    margin:0 10%;
}

.article
{
    grid-row:3;
    grid-row-gap:20%;
    row-gap:20%;
}


.nav-grid
{
    position:relative;
    display:grid;
    grid-template-areas: ". logged"
    "nav-bar  search";
    /*grid-template-columns: 1fr 1fr;*/

}

.logged
{
    grid-area: logged;
    text-align: right;

}

.logged-padding
{
    padding-left:2%;
}

.nav-bar{
    grid-area:nav-bar;
}

.searchbar{
    grid-area:search;
    display:flex;
    justify-content: flex-end;


}
.searchbar-inner
{   position:absolute;
    right:0;
    bottom:0;
    display: flex;
    justify-content:flex-end ;

}

.big
{
    position: relative;
    grid-row:2/4

}


.articleGrid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-row-gap: 2vh;
    row-gap:2vh;
}

.mid{
    text-align: center;
    padding-bottom:2% ;
}
/***********************************************Create/Edit Page*******************************************************/
.titleBar
{
    /*display:flex;*/
    /*justify-content: center;*/
    width:40%;
    border-radius: 20px;
}

.formCenter
{
  text-align: center;
    padding:3% 0;

}

textarea
{

    width:80%;
    border-radius: 20px;

}

/***********************************************Read Page**************************************************************/

.readGrid
{
    display: grid;

}


.readTitle
{
    grid-column: 1;
    grid-row:1;
    padding-top: 3%;
    padding-left:1%;
    border-bottom: 3px solid black;
}

.readNav
{
    grid-column: 2;
    grid-row: 1;
}

.text-margin
{
    margin:2% 10%;
}