.bodyContainter
{
height: 100vh;
margin: 2% 5%;
}

.pageContainer
{
    display: grid;
    grid-template-rows: 10% 1fr 2fr;
    grid-row-gap:4vh;
    row-gap:4vh;
}
.search,.article,.title,.big
{
    background-color:lightgreen;
}
.search
{

    grid-row:1;
    grid-row-gap:20%;
    row-gap:20%;
}

.title
{
    grid-row:2;
    grid-row-gap:20%;
    row-gap:20%;
    text-align: center;
}

.inner-margin
{
    margin:0 10%;
}

.article
{
    grid-row:3;
    grid-row-gap:20%;
    row-gap:20%;
}


.nav-grid
{
    display:grid;
    grid-template-areas: ". logged"
    "nav-bar  search";
    /*grid-template-columns: 1fr 1fr;*/

}

.logged
{
    grid-area: logged;
    text-align: right;

}

.logged-padding
{
    padding-left:2%;
}

.nav-bar{
    grid-area:nav-bar;
}

.searchbar{
    grid-area:search;
    display:flex;
    justify-content: flex-end;


}
.searchbar-inner
{
    display: flex;
    justify-content:flex-end ;

}

.big
{
    grid-row:2/4

}







