<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'wikipediaApp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'wikipediaApp/css/base.css' %}">
    <script src="{% static 'wikipediaApp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'wikipediaApp/js/bootstrap.js' %}"></script>
    <title>Title</title>
</head>
<body class="bodyContainter">
<div class="pageContainer">
    {% if trueAuthor == oldArticle.key_to_User %}
    {% if readArticle %}
    {% for x in readArticle %}
    <div class="search">
        <div class="nav-grid">
            <div class='logged'><span class="logged-padding">Hi {{user.username}}</span> <a class="logged-padding" href="{% url 'logout' %}">Logout</a></div>
            <div class="nav-bar card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class='nav-link' href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href="{% url 'createArticle' %}">New Entry</a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href="{% url 'userArticles' %}">All User Entries</a>
                    </li>
                </ul>
            </div>
            <div  class="searchbar">
                <div class=" readNav card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class='nav-link active ' href="{% url 'readArticle' x.id%}">Read</a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href="{% url 'editArticle' x.id %}">Edit</a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href="{% url 'deleteArticle' x.id %}">Delete</a>
                    </li>
                </ul>
            </div>
                <form class='searchbar-inner' action= "{% url 'search'  %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name=find placeholder="Search">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% elif user.is_authenticated %}
    {% if readArticle %}
    {% for x in readArticle %}
    <div class="search">
        <div class="nav-grid">
            <div class='logged'><span class="logged-padding">Hi {{user.username}}</span> <a class="logged-padding" href="{% url 'logout' %}">Logout</a></div>
            <div class="nav-bar card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class='nav-link' href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href="{% url 'createArticle' %}">New Entry</a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href="{% url 'userArticles' %}">All User Entries</a>
                    </li>
                </ul>
            </div>
            <div  class="searchbar">
                <div class=" readNav card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class='nav-link active ' href="{% url 'readArticle' x.id%}">Read</a>
                        </li>
                    </ul>
                </div>
                <form class='searchbar-inner' action= "{% url 'search'  %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name=find placeholder="Search">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% else %}
    {% if readArticle %}
    {% for x in readArticle %}
    <div class="search">
        <div class='nav-grid'>
            <div class='logged'><span class="logged-padding">Not Logged in</span><a class="logged-padding"href="{% url 'createAuthor' %}">Create a new user</a><a class="logged-padding"href="{% url 'login' %}">Sign In</a></div>
            <div class="nav-bar card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class='nav-link' href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link active extrapadding' href="{% url 'readArticle' x.id %}">Read</a>
                    </li>
                </ul>
            </div>
            <div class="searchbar">
                <form class="logoutflex" action= "{% url 'search'  %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name=find placeholder="Search">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endif %}

    {% block body %}
    <div class="title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non accumsan diam, vitae dapibus lectus. Maecenas feugiat urna felis. Praesent purus ligula, scelerisque vitae suscipit feugiat, commodo sit amet mi. Vestibulum congue velit nulla, quis semper ligula venenatis vel. Vestibulum scelerisque est nisi, eget pretium neque laoreet quis. Donec elit purus, maximus et magna ut, rhoncus malesuada urna. Mauris lorem lacus, suscipit a elit non, viverra imperdiet massa. Vestibulum ullamcorper venenatis condimentum. Donec auctor urna sem, nec finibus ante rutrum quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam et ipsum pellentesque, lobortis neque vitae, volutpat dolor. Donec quis magna nisl. Pellentesque fermentum rutrum massa a blandit.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non accumsan diam, vitae dapibus lectus. Maecenas feugiat urna felis. Praesent purus ligula, scelerisque vitae suscipit feugiat, commodo sit amet mi. Vestibulum congue velit nulla, quis semper ligula venenatis vel. Vestibulum scelerisque est nisi, eget pretium neque laoreet quis. Donec elit purus, maximus et magna ut, rhoncus malesuada urna. Mauris lorem lacus, suscipit a elit non, viverra imperdiet massa. Vestibulum ullamcorper venenatis condimentum. Donec auctor urna sem, nec finibus ante rutrum quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam et ipsum pellentesque, lobortis neque vitae, volutpat dolor. Donec quis magna nisl. Pellentesque fermentum rutrum massa a blandit.

    </div>
    <div class="article">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non accumsan diam, vitae dapibus lectus. Maecenas feugiat urna felis. Praesent purus ligula, scelerisque vitae suscipit feugiat, commodo sit amet mi. Vestibulum congue velit nulla, quis semper ligula venenatis vel. Vestibulum scelerisque est nisi, eget pretium neque laoreet quis. Donec elit purus, maximus et magna ut, rhoncus malesuada urna. Mauris lorem lacus, suscipit a elit non, viverra imperdiet massa. Vestibulum ullamcorper venenatis condimentum. Donec auctor urna sem, nec finibus ante rutrum quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam et ipsum pellentesque, lobortis neque vitae, volutpat dolor. Donec quis magna nisl. Pellentesque fermentum rutrum massa a blandit.
    </div>
</div>
{% endblock body %}
</body>
</html>