{% extends 'wikipediaApp/base6(search).html' %}

{% load static %}

{% block body %}



<div class="big blank">
    {% if errors %}
    {{ errors }}
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>

            <div>
                <p>{{ form.username.label_tag }} </p>
                <p>{{ form.username }}</p>
            </div>
            <div>
                <p>{{ form.password.label_tag }}</p>
                <p>{{ form.password }}</p>
            </div>

            <button>Submit</button>
        </div>
    </form>
</div>
{% endblock body %}