{% extends 'wikipediaApp/base.html' %}

{% load static %}

{% block header %}
{% if request.user.is_authenticated %}
<div class="search">
    <div class="nav-grid">
        <div class="period"></div>
        <div class='logged'><span class="logged-padding">Hi {{user.username}}</span> <a class="logged-padding" href="{% url 'logout' %}">Logout</a></div>
        <div class="nav-bar card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class='nav-link active' href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class='nav-link' href="{% url 'createArticle' %}">New Entry</a>
                </li>
                <li class="nav-item">
                    <a class='nav-link' href="{% url 'userArticles' %}">All User Entries</a>
                </li>
            </ul>
        </div>
        <div  class="searchbar">
            <form action= "{% url 'search'  %}" method="GET">
                <input type="text" name=find placeholder="Search">
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="search">
    <div class='nav-grid'>
        <div class='logged'><span class="logged-padding">Not Logged in</span><a class="logged-padding"href="{% url 'createAuthor' %}">Create a new user</a><a class="logged-padding"href="{% url 'login' %}">Sign In</a></div>
        <div class="nav-bar card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class='nav-link active' href="{% url 'index' %}">Home</a>
                </li>
            </ul>
        </div>
        <div class="searchbar">
            <form class="searchbar-bottom" action= "{% url 'search'  %}" method="GET">
                <input type="text" name=find placeholder="Search">
            </form>
        </div>
    </div>
</div>
{% endif %}

{% endblock header %}
{% block body %}
<div class="title">
    <h1>Welcome to Memphis Wiki</h1>
    <div class="inner-margin subtitle-text">
        A home of amazing content about the culture and history of Memphis, TN where anyone can edit. This site is a collaborative effort for all people wanting to learn more about Memphis. Memphis is one of the largest metro areas in the Southeast of the U.S and has a lot of rich history. We currently have {% if articletotal == 1 %} {{articletotal}} article {% else %} {{articletotal}} articles {% endif %} and {% if authortotal == 1 %} {{authortotal}} author {% else %} {{authortotal}} authors {% endif %} and we need all the help we can get. To any and all editors, thank you for your time and all your contributions.
    </div>
</div>
<div class="article">
    <h2 class="allArticleheader">List of articles</h2>
    <div class="articleGrid">
        {% if allArticles %}
        {% for x in allArticles %}
        <ul>

            <li class="list-group list-group-flush"><h3><a class="font-weight-bolder " href="{% url 'readArticle' x.id %}">{{x.title}}</a></h3></li>
            {% if x.image %}
            <li class="list-group list-group-flush"><img class="fixedimage" src="{{x.image.url}}"></li>
            {% endif %}
        </ul>
        {% endfor %}
        {% else %}
        None
        {% endif %}
    </div>
</div>
{% endblock body %}