{% extends 'wikipediaApp/base.html' %}

{% load static %}

{% block body %}
<div class="title">
    <h1>Welcome to Django Wiki</h1>
    <div class="inner-margin subtitle-text">
        A home of amazing content about miscellaneous content where anyone can edit. This site is a collaborative effort for all people wanting to show exciting and interesting content. We currently have {% if articletotal == 1 %} {{articletotal}} article {% else %} {{articletotal}} articles {% endif %} and {% if authortotal == 1 %} {{authortotal}} author {% else %} {{authortotal}} authors {% endif %} and we need all the help we can get. To any and all editors, thank you for your time and all your contributions.
    </div>
</div>
<div class="article">
    <h2 class="allArticleheader">List of articles</h2>
    <div class="articleGrid">
        {% if allArticles %}
        {% for x in allArticles %}
        <ul>
            {% if x.image %}
            <li class="list-group list-group-flush"><img class="fixedimage" src="{{x.image.url}}"></li>
            {% endif %}
            <li class="list-group list-group-flush"><h3><a class="font-weight-bolder " href="{% url 'readArticle' x.id %}">{{x.title}}</a></h3></li>
        </ul>
        {% endfor %}
        {% else %}
        None
        {% endif %}
    </div>
</div>
{% endblock body %}