{% extends 'wikipediaApp/base4.html' %}

{% load static %}

{% block body %}
<div class="big readGrid">
{% if readArticle %}
{% for x in readArticle %}
    <h1 class="readTitle">{{x.title}}</h1>

    <div class=" readNav nav-bar card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class='nav-link active' href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class='nav-link' href="{% url 'createArticle' %}">New Entry</a>
            </li>
            <li class="nav-item">
                <a class='nav-link' href="{% url 'userArticles' %}">All User Entries</a>
            </li>
        </ul>
    </div>
<div class="text-margin">
    {{x.text}}
</div>
<a href="{% url 'editArticle' x.id%}">Edit article</a>
<a href="{% url 'deleteArticle' x.id%}">Delete article</a><br>
<h1>This article was created on {{x.date_created}}</h1>
<h1>Last updated: {{x.last_update}}UTC</h1>
<h1>Related Items</h1>
<hr>
{% if readRelated %}
{% for y in readRelated %}
<h1>{{y.title}}<br>
{{y.text}}<br>
{{y.date_created}}<br>
{{y.last_update}}<br>
{% if y.image %}}
<img src="{{y.image.url}}">
{% endif %}
<a href="{% url 'editRelated' y.id %}">Edit Related</a>
<a href="{% url 'deleteRelated' y.id %}">Delete Related</a>
{% endfor %}
{% else %}
None
{% endif %}
<a href="{% url 'createRelated' x.id %}">Create Related</a>
{% endfor %}
{% else %}
none
{% endif %}

</div>
</div>
{% endblock body %}