{% extends 'wikipediaApp/base4.html' %}

{% load static %}

{% block body %}
{% if user.is_authenticated %}
<div class="big readGrid">
{% if readArticle %}
{% for x in readArticle %}
    <h1 class="readTitle">{{x.title}}</h1>

<div class="text-margin">

    {{x.text}}
</div>
{% if x.image %}
    <div class= "img-grid">
    <img class ='fixedimage' src="{{x.image.url}}">
    </div>
{% endif %}
<footer class="update">
<span> Date created:{{x.date_created}}</span>
<span>Last updated: {{x.last_update}}UTC</span>
</footer>
    <div class="sidebarGrid">
        <h3 class="sidebarTitle">Related Items</h3>
<hr>

{% if readRelated %}

{% for y in readRelated %}
<div class="sidetext">
<div class="relatedTitle">{{y.title}}</div>
{% if y.image %}
    <div class="relatedimg">
<img src="{{y.image.url}}">
    </div>
{% endif %}
{{y.text}}<br>
    <br>

    Date created:{{y.date_created}} UTC<br>
    Last updated:{{y.last_update}} UTC<br><br>
<div class="relatedimg buttonmargin">
<a class="editmargin" href="{% url 'editRelated' y.id %}"><button>Edit Related</button></a>
    <a href="{% url 'deleteRelated' y.id %}"><button>Delete Related</button></a>
</div>
</div>
{% endfor %}
{% else %}
None
{% endif %}
<a href="{% url 'createRelated' x.id %}">Create Related</a>
{% endfor %}
{% else %}
none
</div>
{% endif %}
{% else %}
    <div class="big readGrid">
        {% if readArticle %}
        {% for x in readArticle %}
        <h1 class="readTitle">{{x.title}}</h1>

        <div class="text-margin">

            {{x.text}}
        </div>
        {% if x.image %}
        <div class= "img-grid">
            <img class="fixedimage" src="{{x.image.url}}">
        </div>
        {% endif %}
        <footer class="update">
            <span> Date created:{{x.date_created}}</span>
            <span>Last updated: {{x.last_update}}UTC</span>
        </footer>
        <div class="sidebarGrid">
            <h3 class="sidebarTitle">Related Items</h3>
            <hr>

            {% if readRelated %}

            {% for y in readRelated %}
            <div class="sidetext">
                <div class="relatedTitle">{{y.title}}</div>
                {% if y.image %}
                <div class="relatedimg">
                    <img src="{{y.image.url}}">
                </div>
                {% endif %}
                {{y.text}}<br>
                <br>

                Date created:{{y.date_created}} UTC<br>
                Last updated:{{y.last_update}} UTC<br><br>
            </div>
            {% endfor %}
            {% else %}
            None
            {% endif %}

            {% endfor %}
            {% else %}
            none
        </div>
        {% endif %}
</div>
    {% endif %}
</div>
{% endblock body %}