{% extends 'wikipediaApp/base6(search).html' %}

{% load static %}

{% block body %}

<div class="big">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="formCenter">

        <div>
            <h3>{{ form.username.label_tag }} </h3>
            <p>{{ form.username }}</p>
        </div>
        <div>
            <h3>{{ form.password.label_tag }}</h3>
            <p>{{ form.password }}</p>
        </div>

            <button><h3>Submit</h3></button>
        </div>
    </form>
</div>
{% endblock body %}