<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if userArticles %}
{% for x in userArticles %}
<h1>Article</h1>
<a href="{% url 'readArticle' x.id %}">{{x.title}}</a><br>
{{x.date_created}}<br>
{{x.last_update}}<br>
{% if x.image %}
<img src="{{x.image.url}}"><br>
{% endif %}
<a href="{% url 'editArticle' x.id%}">Edit article</a>
<a href="{% url 'deleteArticle' x.id%}">Delete article</a><br>
{% endfor %}
{%else %}
None
{% endif %}

</body>
</html>